:root {
  --lightblue: rgba(223, 242, 255, 0.908);
  --darkblue: rgba(114, 166, 255, 0.824);
  --pinkish: rgb(254, 243, 251);
}

html {
  background: var(--lightblue);
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  font-family: sans-serif;
  font-size: 10px;
  max-width: 1300px;
  min-width: 950px;
}

span {
  font-size: 15px;
}

.shell {
  border: 0.8rem solid black;
  margin: 10rem;

  background-color: var(--pinkish);
  border-radius: 1.5rem;
}

.tempoall {
  display: flex;
}

.keys,
.trigs,
.top-row {
  display: flex;
  height: 5rem;
  align-items: start;
  justify-content: space-between;
  border-radius: 0.75rem;
  margin: 2rem 2rem 0rem 2rem;
  padding-top: 4rem;
}

.trigs {
  margin-bottom: 5rem;
}

.top-row {
  margin: 0rem 2rem 7rem 2rem;
}

.trig {
  display: inline-block;
  border: 0.4rem solid black;
  border-radius: 50rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  width: 5rem;
  min-width: 2rem;
  text-align: center;
  color: black;
  background: var(--lightblue);
  transition: all 0.07s ease;
}
.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  transition: all 0.055s ease;
  width: 10rem;
  text-align: center;
  color: black;
  background: var(--lightblue);
}

.playing {
  transform: scale(1.1);
  /* border-color: #fffaaf;
  box-shadow: 0 0 1rem #fffaaf; */
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

.trigselected {
  font-size: 19px;
}

.keyselected {
  background: var(--darkblue);
  color: white;
}

.button {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 3.5rem 1rem 0rem 1rem;
  padding: 1rem 0.5rem;
  width: 7rem;
  text-align: center;
  color: black;
  background: var(--lightblue);
  transition: all 0.07s ease;
}

.tempo {
  width: 1rem;
  margin: 3.2rem 0rem 0rem 0rem;
  padding: 1rem 0.5rem;
  border-radius: 50rem;
}

.tempotext {
  margin: 4.3rem 1rem 0rem 1rem;
}

.temponumber {
  font-size: 3rem;
}

.pressed {
  color: white;
  background: var(--darkblue);
}

.pressanim {
  transform: scale(1.1);
}

.plusminus {
  font-size: 20px;
  font-weight: bold;
}

.title {
  margin: 3.6rem 1rem;
}

.title-text {
  font-size: 40px;
  font-family: "Courier New";
  letter-spacing: 0.8rem;
  font-weight: bold;
  color: var(--darkblue);
  background: rgba(0, 0, 0, 0);
  border: 0.92rem dotted black;
  border-radius: 0.7rem;
  padding: 1.5rem 2rem;
  text-shadow: 0 0.1rem 0.1rem rgba(67, 67, 68, 0.8);
}

@media (max-width: 1207px) {
  .trig {
    margin: 0.5rem;
    font-size: 1px;
    padding: 0.5rem 0.25rem;
    width: 2.5rem;
    min-width: 1.5rem;
  }
  .title-text {
    font-size: 30px;
    font-family: "Courier New";
    border: 0.7rem dotted black;
    letter-spacing: 0.4rem;
    padding: 1rem 1.25rem;
  }
  .title {
    margin: 4.1rem 1rem;
  }
  .trigs {
    margin-bottom: 4rem;
    margin-right: 2.7rem;
  }
  .top-row {
    margin-top: 0rem;
  }
  .trigselected {
    font-size: 19px;
  }
  .top-row {
    margin-bottom: 6rem;
  }
}

@media (max-width: 1058px) {
  .title-text {
    font-size: 25px;
    font-family: "Courier New";
    border: 0.6rem dotted black;
    letter-spacing: 0.2rem;
  }

  .title {
    margin: 4.4rem 1rem;
  }

  .top-row {
    margin-bottom: 5rem;
  }
}

@media (max-width: 976px) {
  .top-row {
    margin-top: 0rem;
  }

  .key {
    border: 0.4rem solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    padding: 1rem 0.1rem;
    transition: all 0.055s ease;
    width: 10rem;
    text-align: center;
    color: black;
    background: var(--lightblue);
  }
}
