:root {
  --lightblue: rgba(223, 242, 255, 0.908);
  --darkblue: rgba(114, 166, 255, 0.824);
  --pinkish: rgb(254, 243, 251);
}

html {
  font-size: 10px;
  background: var(--lightblue);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
span {
  font-size: 1.5rem;
}

.shell {
  border: 0.8rem solid black;
  margin: 10rem;
  background-color: var(--pinkish);
  border-radius: 15px;
}

.keys {
  display: flex;
  flex: 0;
  height: 20vh;
  align-items: start;
  justify-content: center;

  border-radius: 0.75rem;
  margin: 2rem 3rem 1rem 3rem;
  padding: 5rem 1rem 0rem 1rem;
}

.trigs {
  display: flex;
  flex: 2;
  height: 20vh;
  align-items: start;
  justify-content: space-evenly;
  border-radius: 0.75rem;
  margin: 0rem 3rem 0rem 3rem;
  padding: 0rem 1rem 0rem 1rem;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: black;
  background: var(--lightblue);
  user-select: none;
}

.trig {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 7rem;
  text-align: center;
  color: black;
  background: var(--lightblue);
  user-select: none;
  transition: all 0.07s ease;
}

.playing {
  transform: scale(1.1);
  /* border-color: #fffaaf;
  box-shadow: 0 0 1rem #fffaaf; */
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

.trigselected {
  font-size: 1.9rem;
}

.keyselected {
  background: var(--darkblue);
  color: white;
}

.button {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 3.5rem 1rem 0rem 5rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 7rem;
  text-align: center;
  color: black;
  background: var(--lightblue);
  user-select: none;
  transition: all 0.07s ease;
}
/* 
.tempobutton {
  user-select: auto;
  margin: 3.5rem 0rem 0rem 0ch;
  padding: 0.5rem;
  font-size: 2.2rem;
} */

/* .tempotext {
  margin: 3.5rem 0rem 0rem 5rem;
  font-size: 1.5rem;
  padding: 1.4rem 0.5rem;
  width: 7rem;
  text-align: center;
  color: black;
  background: rgba(0, 0, 0, 0);
  user-select: none;
  transition: all 0.07s ease;
} */

.top-row {
  display: flex;
  flex: 2;
  /* height: 20vh; */
  align-items: start;
  justify-content: left;
  border-radius: 0.75rem;
  /* margin: 3rem 3rem 0rem 3rem; */
  padding: 3rem 0.2rem 1rem 0.2rem;
}

.pressed {
  color: white;
  background: var(--darkblue);
}

.pressanim {
  transform: scale(1.1);
}

.tempo {
  margin: 3.1rem 0rem 0rem 0rem;
  width: 1rem;
  font-size: 1.5rem;
}

.minus {
  margin-left: 5rem;
}

/* .plus {
  margin-top: 3.5rem;
} */

.tempotext {
  margin: 3rem 0rem 0rem 0rem;
  padding: 1rem 0rem;
  width: 11rem;
  text-align: center;
  color: black;
  background: rgba(0, 0, 0, 0);
  user-select: none;
}

.temponumber {
  font-size: 3rem;
  /* text-decoration: underline; */
}

.plusminus {
  font-size: 2rem;
  font-weight: bold;
}

.title-text {
  font-size: 4rem;
  font-family: "Courier New";
  letter-spacing: 0.8rem;
  font-weight: bold;

  color: var(--darkblue);
  background: rgba(0, 0, 0, 0);
  user-select: none;
  border: 0.92rem dotted black;
  border-radius: 0.7rem;
  padding: 2rem 2.5rem;
  text-shadow: 0 0.1rem 0.1rem rgba(67, 67, 68, 0.8);
}

.title {
  margin: 2.5rem 4rem 0rem 6rem;
  padding: 1rem 0rem;
}
